* {
  margin: 0px;
  padding: 0px;
}
[v-cloak] {
  display: none!important;
}
.main {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, #afb4fd, #d2f6ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play_wrap {
  width: 900px;
  height: 544px;
  margin:0;
  box-shadow: #CCC 0 0 10px;
}

.search {
  height: 60px;
  background-image: linear-gradient(to bottom right, #33539e, #ffe1e4);
  border-radius: 4px 4px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.search img {
  margin-left: 20px;
}

.search input {
  margin-right: 23px;
  width: 296px;
  height: 34px;
  border-radius: 17px;
  border: 0px;
  background: url("../images/zoom.png") 265px center no-repeat rgba(255, 255, 255, 0.45);
  text-indent: 15px;
  flex-shrink: 1;
  outline: none;
}

.center_con {
  height: 435px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  position: relative;
}

.song_wrapper {
  width: 230px;
  height: 435px;
  box-sizing: border-box;
  list-style: none;
}
.song_list {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.song_list::-webkit-scrollbar {
  display: none;
}
.song_list li {
  color: #333;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 15px;
}
.song_list li:hover{
  height: 50px;
  font-size: 15px;
}
.song_list li:nth-child(odd) {
  background-color: rgba(55,86,160, 0.1);
}
.song_list li:nth-child(even) {
  background-color: rgba(253,215,216, 0.1);
}
.song_list li a {
  color: #9D9DC2;
  text-decoration: none;
  display: block;
  line-height: 40px;
}
.fa-play{
  font-size: 10px;
}
.fa-youtube{
  font-size: 15px;
}
.song_list li b {
  font-size: 12px;
  font-weight: normal;
  width: 155px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}

.player_con {
  width: 400px;
  height: 435px;
  position: relative;
}
.disc{
  position: absolute;
  left: 73px;
  top: 60px;
  z-index: 1;
}
.cover {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 125px;
  top: 115px;
  z-index: 0;
}

.comment_wrapper {
  width: 250px;
  height: 435px;
  list-style: none;
  padding:35px 10px;
}

.comment_wrapper .title {
  position: absolute;
  top: 0;
  margin-top: 10px;
}

.comment_wrapper .comment_list {
  overflow: auto;
  height: 410px;
}

.comment_wrapper .comment_list::-webkit-scrollbar {
  display: none;
}

.comment_wrapper dl {
  padding-top: 10px;
  padding-left: 5px;
  position: relative;
  margin-bottom: 10px;
}

.comment_wrapper dt {
  position: absolute;
  left: 4px;
  top: 10px;
}

.comment_wrapper dt img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.comment_wrapper dd {
  font-size: 12px;
}

.comment_wrapper .name {
  font-weight: bold;
  padding-top: 5px;
  padding-left: 50px;
}
.comment_wrapper .id{
  padding-left: 50px;
}
.comment_wrapper .detail {
  margin-top: 10px;
  line-height: 18px;
}
.introduction{
  color: #333;
  padding: 0 10px;
  line-height: 200%;
}
.introduction p:last-child{
  text-align: center;
}
.introduction i{
  padding: 0 10px;
}
.audio_con {
  height: 50px;
  background-color: #f1f3f4;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.myaudio {
  width: 900px;
  height: 40px;
  margin-top: 5px;
  outline: none;
  background-color: #f1f3f4;
}

/* 旋转的动画 */
@keyframes Rotate {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}

/* 旋转的类名 */
.autoRotate {
  animation-name: Rotate;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  animation-timing-function: linear;
  animation-duration: 5s;
}

/* 是否正在播放 */
.playing .disc,
.playing .cover {
  animation-play-state: running;
}

.play_bar {
  position: absolute;
  left: 50%;
  z-index: 2;
  transform: rotate(-25deg);
  transform-origin: 12px 12px;
  transition: 1s;
}

/* 播放杆 转回去 */
.playing .play_bar {
  transform: rotate(0);
}

/* 搜索历史列表 */
.search_history {
  position: absolute;
  width: 296px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.3);
  list-style: none;
  right: 23px;
  top: 50px;
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 17px;
}

.search_history li {
  line-height: 24px;
  font-size: 12px;
  cursor: pointer;
}

.video_con video {
  position: fixed;
  width: 800px;
  height: 546px;
  left: 50%;
  top: 50%;
  margin-top: -273px;
  transform: translateX(-50%);
  z-index: 990;
}

.video_con .mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 980;
  background-color: rgba(0, 0, 0, 0.5);
}
