<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>巴啦啦音乐</title>
		<link rel="stylesheet" href="./06.css">
		<link rel="stylesheet" type="text/css" href="font/css/all.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="06.js"></script>
	</head>

	<body>
		<div class="main" id="main">
			<div class="play_wrap" id="player" v-cloak>
				<div class="search" >
					<img src="images/player_title.png" alt="" />
					<input type="text" v-model="query" @keyup.enter="searchMusic" />
				</div>
				<div class="center_con">
					<!-- 搜索歌曲列表 -->
					<div class="song_wrapper">
						<ul class="song_list">
							<li v-for="item in musicList">
								<a class="fas fa-play" href="javascript:;" @click="playMusic(item.id)"></a>
								<b>{{item.name}}</b>
								<a class="fab fa-youtube" href="javascript:;" @click="playMV(item.mvid)" v-if="item.mvid!=0"></a>
							</li>
						</ul>
					</div>
					<img src="images/line.png" class="leftline" alt="">
					<!-- 歌曲信息容器 -->
					<div class="player_con" :class="{playing:isPlay}">
						<img :src="player1" class="play_bar" />
						<!-- 黑胶碟片 -->
						<img src="images/disc.png" class="disc autoRotate" />
						<img :src="musicAlbum" class="cover autoRotate" />
					</div>
					<img src="images/line.png" class="rightline">
					<!-- 评论容器 -->
					<div class="comment_wrapper">
						<h5 class="title" v-show="comment.length!=0">热门评论</h5>
						<div v-show="comment.length!=0" class="comment_list">
							<dl v-for="item in comment">
								<dt><img :src="item.user.avatarUrl" alt=""></dt>
								<dd class="name">{{item.user.nickname}}</dd>
								<dd class="id">ID：{{item.user.userId}}</dd>
								<dd class="detail">{{item.content}}</dd>
							</dl>
						</div>
						<div v-show="comment.length==0" class="introduction">
							<h3>使用说明</h3>
							<p>搜索栏输入关键字即可查询歌曲</p>
							<p>点击歌曲左侧按钮即可播放歌曲</p>
							<p>点击歌曲右侧按钮即可播放mv</p><br /><br />
							<p>　　Vue入门小练习，不成熟作品，本来是想把这一栏在进入页面时做成热门歌曲列表的，可是我没搞到接口，只好写一段话来混一下。</p>
							<p>
								<i class="fab fa-git-alt"></i>　
								<i class="fab fa-html5"></i>　
								<i class="fab fa-css3-alt"></i>
								<i class="fab fa-js-square"></i>
								<i class="fab fa-vuejs"></i>　
							</p>
						</div>
					</div>
				</div>
				<div class="audio_con">
					<audio ref="audio" @play="musicPlay" @pause="musicPause" :src="musicUrl" controls autoplay loop class="myaudio"></audio>
				</div>
				<div class="video_con" v-show="isMv">
					<video :src="videoUrl" controls="controls"></video>
					<div class="mask" @click="closeMv"></div>
				</div>
			</div>
		</div>
	</body>

</html>
